
@{
    ViewBag.Title = "Banco Relacional";
}

@*<h2>Banco Relacional</h2>*@

    <div class="jumbotron">
        <h1>Banco Relacional</h1>
        @*<p class="lead">Apresentação do MER e DER das tabelas</p>*@
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
        <p><a class="btn btn-default" href="http://localhost:57831/BancoRelacional/SelectRelacional">Select Complexo &raquo;</a></p>

        <p><a class="btn btn-default" href="http://localhost:57831/BancoRelacional/AdicaoDados">Adicao &raquo;</a></p>
    </div>

<div class="row">
    <div class="col-md-4">
            <h3>Tabela de Materia_Prima</h3>
            @*<p>Explicar os atributos deste entidade</p>*@
            <p><a class="btn btn-default" href="http://localhost:57831/MateriaPrima">Select Materia_Prima &raquo;</a></p>
        </div>

    <div class="col-md-4">
            <h3>Tabela de Produtos</h3>
            @*<p>Explicar os atributos deste entidade</p>*@
            <p><a class="btn btn-default" href="http://localhost:57831/Produtos">Select Produtos &raquo;</a></p>
        </div>

    <div class="col-md-4">
            <h3>Tabela de Produtos_Finalizados</h3>
            @*<p>Explicar os atributos deste entidade</p>*@
            <p><a class="btn btn-default" href="http://localhost:57831/ProdutosFinalizados">Select Produtos_Finalizados &raquo;</a></p>
        </div>
</div>
