
@{
    ViewBag.Title = "Banco NoSQL";
}

@*<h2>Banco Relacional</h2>*@

<div class="jumbotron">
    <h1>Banco NoSQL</h1>
    @*<p class="lead">Apresentação do MER e DER das tabelas</p>*@
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Tabela de Materia_Prima</h3>
        @*<p>Explicar os atributos deste entidade</p>*@
        <p><a class="btn btn-default" href="http://localhost:57831/Materia_Prima_Mongo">Select Materia_Prima &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h3>Tabela de Produtos</h3>
        @*<p>Explicar os atributos deste entidade</p>*@
        <p><a class="btn btn-default" href="http://localhost:57831/Produto_Mongo">Select Produtos &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h3>Tabela de Produtos_Finalizados</h3>
        @*<p>Explicar os atributos deste entidade</p>*@
        <p><a class="btn btn-default" href="http://localhost:57831/Produtos_Finalizados_Mongo">Select Produtos_Finalizados &raquo;</a></p>
    </div>
</div>
