@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">
        <h3>DER</h3>
        @*<p>Explicar os atributos deste entidade</p>*@
        <img src="~/Images/DER.jpeg" width="80%" height="80%" alt="DER"/>
    </div>

    <div class="col-md-12">
        <h3>MER</h3>
        @*<p>Explicar os atributos deste entidade</p>*@
        <img src="~/Images/MER.jpeg" width="80%" height="80%" alt="MER"/>
    </div>
</div>

