@{
    ViewBag.Title = "Integrantes";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Helmuth August Risch Filho - RA: 22117038-4</strong>   @*<a href="mailto:unifhfilho@fei.edu.br">unifhfilho@fei.edu.br</a>*@<br />
    <strong>Lucas Pampolin Laheras - RA: 22117055-8</strong><br />
    <strong>Caio Rios Sousa - RA: 22117034-3</strong><br />
    <strong>Pedro Henrique Nardoni Ruiz - RA: 22117025-1</strong><br />
    <strong>Vinícius Luiz Oliveira Pinheiro Dos Santos - RA: 22117043-4</strong><br />
</address>