@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Helmuth August Risch Filho:</strong>   <a href="mailto:unifhfilho@fei.edu.br">unifhfilho@fei.edu.br</a><br />
</address>